name: ci
on:
  push:
    branches:
      - master
  pull_request:
  # Also trigger on page_build, as well as release created events
  page_build:
  release:
    types: # This configuration does not affect the page_build event above
      - created

jobs:
  golangci-lint:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-go@v5
        with:
          go-version: 1.24
      - uses: actions/checkout@v4
      - uses: golangci/golangci-lint-action@v9

  build_test:
    name: build-and-test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-go@v5
        with:
          go-version: 1.24
      - uses: actions/checkout@v4
      - name: build
        run: |
          make build
      - name: run-tests
        run: |
          make test
      - name: run-test-and-code-coverage
        run: |
          pwd
          cd ./scripts
          ./test_coverage.sh
        env:
          GOPATH: /home/runner/work/pulsar-heartbeat/go
      - name: Upload Coverage
        if: github.repository == 'datastax/pulsar-heartbeat'
        uses: codecov/codecov-action@v3
        with :
          token: ${{ secrets.CODECOV_TOKEN }}
          file: ./coverage.txt
          yml: ./.codecov.yml
          fail_ci_fi_error: true

  build_multiple_os_arch:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 3
      matrix:
        include:
          - os: darwin
            arch: amd64
          - os: freebsd
            arch: amd64
          - os: freebsd
            arch: arm64
          - os: linux
          - os: openbsd
            arch: amd64
          - os: openbsd
            arch: arm64
          - os: windows
            arch: amd64
          - os: windows
            arch: arm
    steps:
      - uses: actions/setup-go@v5
        with:
          go-version: 1.24
      - uses: actions/checkout@v4
      - name: build-binary
        run: |
          GOOS=${{ matrix.os }} GOARCH=${{ matrix.arch }} OUTPUT_FILE="pulsar-heartbeat-${{ matrix.os }}-${{ matrix.arch }}"

  docker:
    name: docker-build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: build-docker-image
        run: |
          pwd
          sudo DOCKER_BUILDKIT=1 docker build -t pulsar-heartbeat .
